In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import re as re
import matplotlib.pyplot as plt
# %matplotlib inline

import os
import tensorflow
os.environ['KERAS_BACKEND'] = 'tensorflow'
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import metrics

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score
train = pd.read_csv('/content/drive/My Drive/titanic (1)/train.csv', header = 0, dtype={'Age': np.float64})
test  = pd.read_csv('/content/drive/My Drive/titanic (1)/test.csv' , header = 0, dtype={'Age': np.float64})
full_data = [train, test]
PassengerId = test['PassengerId']

Using TensorFlow backend.

In [3]:
for dataset in full_data:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
print (train[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean())

   FamilySize  Survived
0           1  0.303538
1           2  0.552795
2           3  0.578431
3           4  0.724138
4           5  0.200000
5           6  0.136364
6           7  0.333333
7           8  0.000000
8          11  0.000000

In [4]:
for dataset in full_data:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1
print (train[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean())

   IsAlone  Survived
0        0  0.505650
1        1  0.303538

In [5]:
for dataset in full_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
print (train[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean())

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [6]:
for dataset in full_data:
    dataset['Fare'] = dataset['Fare'].fillna(train['Fare'].median())
train['CategoricalFare'] = pd.qcut(train['Fare'], 4)
print (train[['CategoricalFare', 'Survived']].groupby(['CategoricalFare'], as_index=False).mean())

   CategoricalFare  Survived
0   (-0.001, 7.91]  0.197309
1   (7.91, 14.454]  0.303571
2   (14.454, 31.0]  0.454955
3  (31.0, 512.329]  0.581081

In [7]:
for dataset in full_data:
    age_avg 	   = dataset['Age'].mean()
    age_std 	   = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    
    age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
    dataset['Age'][np.isnan(dataset['Age'])] = age_null_random_list
    dataset['Age'] = dataset['Age'].astype(int)
    
train['CategoricalAge'] = pd.cut(train['Age'], 5)

print (train[['CategoricalAge', 'Survived']].groupby(['CategoricalAge'], as_index=False).mean())

  CategoricalAge  Survived
0  (-0.08, 16.0]  0.508475
1   (16.0, 32.0]  0.356808
2   (32.0, 48.0]  0.370787
3   (48.0, 64.0]  0.434783
4   (64.0, 80.0]  0.090909

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [8]:
def get_title(name):
	title_search = re.search(' ([A-Za-z]+)\.', name)
	# If the title exists, extract and return it.
	if title_search:
		return title_search.group(1)
	return ""

for dataset in full_data:
    dataset['Title'] = dataset['Name'].apply(get_title)

print(pd.crosstab(train['Title'], train['Sex']))

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

In [9]:
for dataset in full_data:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

print (train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean())

    Title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.347826

In [0]:
for dataset in full_data:   
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

In [11]:
train.head()

   PassengerId  Survived  Pclass  ...  CategoricalFare CategoricalAge  Title
0            1         0       3  ...   (-0.001, 7.91]   (16.0, 32.0]     Mr
1            2         1       1  ...  (31.0, 512.329]   (32.0, 48.0]    Mrs
2            3         1       3  ...   (7.91, 14.454]   (16.0, 32.0]   Miss
3            4         1       1  ...  (31.0, 512.329]   (32.0, 48.0]    Mrs
4            5         0       3  ...   (7.91, 14.454]   (32.0, 48.0]     Mr

[5 rows x 17 columns]

In [0]:
for dataset in full_data:
    # Mapping Sex
    dataset['Sex'] = dataset['Sex'].map( {'female': 0, 'male': 1} ).astype(int)

In [13]:
train.head()

   PassengerId  Survived  Pclass  ...  CategoricalFare  CategoricalAge  Title
0            1         0       3  ...   (-0.001, 7.91]    (16.0, 32.0]     Mr
1            2         1       1  ...  (31.0, 512.329]    (32.0, 48.0]    Mrs
2            3         1       3  ...   (7.91, 14.454]    (16.0, 32.0]   Miss
3            4         1       1  ...  (31.0, 512.329]    (32.0, 48.0]    Mrs
4            5         0       3  ...   (7.91, 14.454]    (32.0, 48.0]     Mr

[5 rows x 17 columns]

In [0]:
for dataset in full_data:
    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

In [15]:
train.head()

   PassengerId  Survived  Pclass  ...  CategoricalFare  CategoricalAge  Title
0            1         0       3  ...   (-0.001, 7.91]    (16.0, 32.0]      1
1            2         1       1  ...  (31.0, 512.329]    (32.0, 48.0]      3
2            3         1       3  ...   (7.91, 14.454]    (16.0, 32.0]      2
3            4         1       1  ...  (31.0, 512.329]    (32.0, 48.0]      3
4            5         0       3  ...   (7.91, 14.454]    (32.0, 48.0]      1

[5 rows x 17 columns]

In [0]:
for dataset in full_data:
  # Mapping Fare
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare']  = 3
    dataset['Fare'] = dataset['Fare'].astype(int)

In [17]:
for dataset in full_data:
# Mapping Age
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age'] = 4

# Feature Selection
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp',\
                 'Parch', 'FamilySize']
train = train.drop(drop_elements, axis = 1)
train = train.drop(['CategoricalAge', 'CategoricalFare'], axis = 1)

test  = test.drop(drop_elements, axis = 1)

print (train.head(10))

   Survived  Pclass  Sex  Age  Fare  Embarked  IsAlone  Title
0         0       3    1    1     0         0        0      1
1         1       1    0    2     3         1        0      3
2         1       3    0    1     1         0        1      2
3         1       1    0    2     3         0        0      3
4         0       3    1    2     1         0        1      1
5         0       3    1    2     1         2        1      1
6         0       1    1    3     3         0        1      1
7         0       3    1    0     2         0        0      4
8         1       3    0    1     1         0        0      3
9         1       2    0    0     2         1        0      3

In [18]:
train.head()

   Survived  Pclass  Sex  Age  Fare  Embarked  IsAlone  Title
0         0       3    1    1     0         0        0      1
1         1       1    0    2     3         1        0      3
2         1       3    0    1     1         0        1      2
3         1       1    0    2     3         0        0      3
4         0       3    1    2     1         0        1      1

In [19]:
test.head()

   Pclass  Sex  Age  Fare  Embarked  IsAlone  Title
0       3    1    2     0         2        1      1
1       3    0    2     0         0        0      3
2       2    1    3     1         2        1      1
3       3    1    1     1         0        1      1
4       3    0    1     1         0        0      3

In [0]:
x_train=train.iloc[:,1:]
y_train=train.iloc[:,0]
x_test=test.iloc[:,:]

In [22]:
classifier = Sequential()
classifier.add(Dense(units = 128, activation = 'relu', input_dim = 7))
classifier.add(Dropout(rate = 0.5))
classifier.add(Dense(units = 256, activation = 'relu'))
classifier.add(Dropout(rate = 0.5))
classifier.add(Dense(units = 128, activation = 'relu'))
classifier.add(Dropout(rate = 0.4))
classifier.add(Dense(units = 1, activation = 'sigmoid'))
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 128)               1024
_________________________________________________________________
dropout_5 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_7 (Dense)              (None, 256)               33024
_________________________________________________________________
dropout_6 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_8 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_7 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 129
=================================================================
Total params: 67,073
Trainable params: 67,073
Non-trainable params: 0
_________________________________________________________________

In [23]:
classifier.fit(x_train, y_train, batch_size = 10, nb_epoch = 100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
891/891 [==============================] - 1s 1ms/step - loss: 0.6202 - acc: 0.6543
Epoch 2/100
891/891 [==============================] - 0s 292us/step - loss: 0.5564 - acc: 0.7284
Epoch 3/100
891/891 [==============================] - 0s 255us/step - loss: 0.5387 - acc: 0.7531
Epoch 4/100
891/891 [==============================] - 0s 255us/step - loss: 0.5076 - acc: 0.7576
Epoch 5/100
891/891 [==============================] - 0s 282us/step - loss: 0.4978 - acc: 0.7879
Epoch 6/100
891/891 [==============================] - 0s 285us/step - loss: 0.4896 - acc: 0.7767
Epoch 7/100
891/891 [==============================] - 0s 279us/step - loss: 0.4917 - acc: 0.7845
Epoch 8/100
891/891 [==============================] - 0s 273us/step - loss: 0.4690 - acc: 0.7935
Epoch 9/100
891/891 [==============================] - 0s 256us/step - loss: 0.4670 - acc: 0.8025
Epoch 10/100
891/891 [==============================] - 0s 252us/step - loss: 0.4467 - acc: 0.8193
Epoch 11/100
891/891 [==============================] - 0s 270us/step - loss: 0.4664 - acc: 0.7924
Epoch 12/100
891/891 [==============================] - 0s 239us/step - loss: 0.4627 - acc: 0.8070
Epoch 13/100
891/891 [==============================] - 0s 250us/step - loss: 0.4635 - acc: 0.7811
Epoch 14/100
891/891 [==============================] - 0s 259us/step - loss: 0.4716 - acc: 0.7912
Epoch 15/100
891/891 [==============================] - 0s 257us/step - loss: 0.4538 - acc: 0.8182
Epoch 16/100
891/891 [==============================] - 0s 252us/step - loss: 0.4554 - acc: 0.7991
Epoch 17/100
891/891 [==============================] - 0s 252us/step - loss: 0.4571 - acc: 0.8002
Epoch 18/100
891/891 [==============================] - 0s 255us/step - loss: 0.4546 - acc: 0.7946
Epoch 19/100
891/891 [==============================] - 0s 247us/step - loss: 0.4313 - acc: 0.8126
Epoch 20/100
891/891 [==============================] - 0s 252us/step - loss: 0.4431 - acc: 0.8193
Epoch 21/100
891/891 [==============================] - 0s 258us/step - loss: 0.4308 - acc: 0.8103
Epoch 22/100
891/891 [==============================] - 0s 238us/step - loss: 0.4566 - acc: 0.8013
Epoch 23/100
891/891 [==============================] - 0s 269us/step - loss: 0.4424 - acc: 0.8025
Epoch 24/100
891/891 [==============================] - 0s 315us/step - loss: 0.4427 - acc: 0.8260
Epoch 25/100
891/891 [==============================] - 0s 246us/step - loss: 0.4516 - acc: 0.8126
Epoch 26/100
891/891 [==============================] - 0s 254us/step - loss: 0.4523 - acc: 0.8126
Epoch 27/100
891/891 [==============================] - 0s 248us/step - loss: 0.4345 - acc: 0.8070
Epoch 28/100
891/891 [==============================] - 0s 233us/step - loss: 0.4430 - acc: 0.8182
Epoch 29/100
891/891 [==============================] - 0s 271us/step - loss: 0.4436 - acc: 0.8103
Epoch 30/100
891/891 [==============================] - 0s 257us/step - loss: 0.4302 - acc: 0.8260
Epoch 31/100
891/891 [==============================] - 0s 260us/step - loss: 0.4238 - acc: 0.8148
Epoch 32/100
891/891 [==============================] - 0s 258us/step - loss: 0.4394 - acc: 0.8114
Epoch 33/100
891/891 [==============================] - 0s 261us/step - loss: 0.4225 - acc: 0.8126
Epoch 34/100
891/891 [==============================] - 0s 240us/step - loss: 0.4283 - acc: 0.8215
Epoch 35/100
891/891 [==============================] - 0s 269us/step - loss: 0.4334 - acc: 0.8103
Epoch 36/100
891/891 [==============================] - 0s 254us/step - loss: 0.4372 - acc: 0.8081
Epoch 37/100
891/891 [==============================] - 0s 239us/step - loss: 0.4163 - acc: 0.8159
Epoch 38/100
891/891 [==============================] - 0s 255us/step - loss: 0.4229 - acc: 0.8260
Epoch 39/100
891/891 [==============================] - 0s 268us/step - loss: 0.4395 - acc: 0.8204
Epoch 40/100
891/891 [==============================] - 0s 235us/step - loss: 0.4323 - acc: 0.8092
Epoch 41/100
891/891 [==============================] - 0s 262us/step - loss: 0.4330 - acc: 0.8204
Epoch 42/100
891/891 [==============================] - 0s 262us/step - loss: 0.4320 - acc: 0.8260
Epoch 43/100
891/891 [==============================] - 0s 262us/step - loss: 0.4301 - acc: 0.8204
Epoch 44/100
891/891 [==============================] - 0s 259us/step - loss: 0.4281 - acc: 0.8204
Epoch 45/100
891/891 [==============================] - 0s 248us/step - loss: 0.4296 - acc: 0.8182
Epoch 46/100
891/891 [==============================] - 0s 241us/step - loss: 0.4091 - acc: 0.8339
Epoch 47/100
891/891 [==============================] - 0s 261us/step - loss: 0.4283 - acc: 0.8260
Epoch 48/100
891/891 [==============================] - 0s 258us/step - loss: 0.4186 - acc: 0.8182
Epoch 49/100
891/891 [==============================] - 0s 251us/step - loss: 0.4225 - acc: 0.8260
Epoch 50/100
891/891 [==============================] - 0s 254us/step - loss: 0.4324 - acc: 0.8126
Epoch 51/100
891/891 [==============================] - 0s 257us/step - loss: 0.4283 - acc: 0.8114
Epoch 52/100
891/891 [==============================] - 0s 245us/step - loss: 0.4309 - acc: 0.8193
Epoch 53/100
891/891 [==============================] - 0s 251us/step - loss: 0.4213 - acc: 0.8215
Epoch 54/100
891/891 [==============================] - 0s 248us/step - loss: 0.4232 - acc: 0.8171
Epoch 55/100
891/891 [==============================] - 0s 252us/step - loss: 0.4189 - acc: 0.8238
Epoch 56/100
891/891 [==============================] - 0s 248us/step - loss: 0.4152 - acc: 0.8204
Epoch 57/100
891/891 [==============================] - 0s 258us/step - loss: 0.4210 - acc: 0.8260
Epoch 58/100
891/891 [==============================] - 0s 264us/step - loss: 0.4167 - acc: 0.8373
Epoch 59/100
891/891 [==============================] - 0s 248us/step - loss: 0.4046 - acc: 0.8272
Epoch 60/100
891/891 [==============================] - 0s 250us/step - loss: 0.4211 - acc: 0.8238
Epoch 61/100
891/891 [==============================] - 0s 255us/step - loss: 0.4239 - acc: 0.8260
Epoch 62/100
891/891 [==============================] - 0s 245us/step - loss: 0.4177 - acc: 0.8238
Epoch 63/100
891/891 [==============================] - 0s 255us/step - loss: 0.4418 - acc: 0.8148
Epoch 64/100
891/891 [==============================] - 0s 251us/step - loss: 0.4211 - acc: 0.8283
Epoch 65/100
891/891 [==============================] - 0s 270us/step - loss: 0.4094 - acc: 0.8328
Epoch 66/100
891/891 [==============================] - 0s 245us/step - loss: 0.4175 - acc: 0.8249
Epoch 67/100
891/891 [==============================] - 0s 247us/step - loss: 0.4377 - acc: 0.8249
Epoch 68/100
891/891 [==============================] - 0s 244us/step - loss: 0.4093 - acc: 0.8305
Epoch 69/100
891/891 [==============================] - 0s 234us/step - loss: 0.4022 - acc: 0.8361
Epoch 70/100
891/891 [==============================] - 0s 259us/step - loss: 0.4113 - acc: 0.8272
Epoch 71/100
891/891 [==============================] - 0s 258us/step - loss: 0.4217 - acc: 0.8126
Epoch 72/100
891/891 [==============================] - 0s 265us/step - loss: 0.3963 - acc: 0.8316
Epoch 73/100
891/891 [==============================] - 0s 248us/step - loss: 0.4127 - acc: 0.8238
Epoch 74/100
891/891 [==============================] - 0s 247us/step - loss: 0.4176 - acc: 0.8182
Epoch 75/100
891/891 [==============================] - 0s 224us/step - loss: 0.4094 - acc: 0.8373
Epoch 76/100
891/891 [==============================] - 0s 250us/step - loss: 0.4107 - acc: 0.8227
Epoch 77/100
891/891 [==============================] - 0s 263us/step - loss: 0.4013 - acc: 0.8350
Epoch 78/100
891/891 [==============================] - 0s 259us/step - loss: 0.4133 - acc: 0.8283
Epoch 79/100
891/891 [==============================] - 0s 242us/step - loss: 0.4162 - acc: 0.8249
Epoch 80/100
891/891 [==============================] - 0s 242us/step - loss: 0.4146 - acc: 0.8294
Epoch 81/100
891/891 [==============================] - 0s 225us/step - loss: 0.3990 - acc: 0.8361
Epoch 82/100
891/891 [==============================] - 0s 275us/step - loss: 0.3981 - acc: 0.8395
Epoch 83/100
891/891 [==============================] - 0s 263us/step - loss: 0.4026 - acc: 0.8260
Epoch 84/100
891/891 [==============================] - 0s 251us/step - loss: 0.4182 - acc: 0.8227
Epoch 85/100
891/891 [==============================] - 0s 246us/step - loss: 0.3982 - acc: 0.8406
Epoch 86/100
891/891 [==============================] - 0s 240us/step - loss: 0.4050 - acc: 0.8316
Epoch 87/100
891/891 [==============================] - 0s 234us/step - loss: 0.4073 - acc: 0.8215
Epoch 88/100
891/891 [==============================] - 0s 240us/step - loss: 0.4025 - acc: 0.8361
Epoch 89/100
891/891 [==============================] - 0s 257us/step - loss: 0.4052 - acc: 0.8361
Epoch 90/100
891/891 [==============================] - 0s 263us/step - loss: 0.4158 - acc: 0.8249
Epoch 91/100
891/891 [==============================] - 0s 252us/step - loss: 0.4074 - acc: 0.8328
Epoch 92/100
891/891 [==============================] - 0s 240us/step - loss: 0.4072 - acc: 0.8283
Epoch 93/100
891/891 [==============================] - 0s 228us/step - loss: 0.3954 - acc: 0.8294
Epoch 94/100
891/891 [==============================] - 0s 233us/step - loss: 0.3995 - acc: 0.8328
Epoch 95/100
891/891 [==============================] - 0s 234us/step - loss: 0.3984 - acc: 0.8272
Epoch 96/100
891/891 [==============================] - 0s 259us/step - loss: 0.4005 - acc: 0.8361
Epoch 97/100
891/891 [==============================] - 0s 261us/step - loss: 0.3999 - acc: 0.8305
Epoch 98/100
891/891 [==============================] - 0s 250us/step - loss: 0.4192 - acc: 0.8215
Epoch 99/100
891/891 [==============================] - 0s 237us/step - loss: 0.4223 - acc: 0.8272
Epoch 100/100
891/891 [==============================] - 0s 232us/step - loss: 0.3936 - acc: 0.8429

In [0]:
pred = classifier.predict(x_test)
pred=(pred>0.5)

In [25]:
pred=pred.astype(int)
pred=pred.ravel()
pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [0]:
# Generate Submission File 
StackingSubmission = pd.DataFrame({ 'PassengerId': PassengerId,
                            'Survived': pred })
StackingSubmission.to_csv("StackingSubmission.csv", index=False)